#footer {
    position: absolute;
    
    width: 100%;
    
    padding: 20px;
    
    background-color: #eeafeb;
   
  }

  #search-form {
    position: absolute;
    right: 20px;
    top: 10px; 
  }